<!DOCTYPE html>
<html>
<head>
  <title>EcoLocal - Seu Bairro</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <style>
    #map {
      height: 400px;
      width: 100%;
    }
  </style>
</head>
<body>
    <nav class="navegacao">
        <h1>EcoLocal</h1>
    </nav>
    <div id="main_map">
          <div id="map_esquerda">
            <fieldset>
                <legend>Projetos Sociais</legend>
                <div id="cards-container">
                  {% for projeto in projetos %}
                      <div class="card">
                          <h3>{{ projeto.nome_social }}</h3>
                          <p>{{ projeto.nome_social }}</p>
                      </div>
                  {% endfor %}
              </div>
            </fieldset>            
        </div>

        <div id="map_direita">
            <fieldset >
               <legend id="NomeBairro" style="font-weight: bold;">Bairro Não Encontrado</legend>
                <p id="capital">Capital Não Encontrada</p>
                    <div id="map"></div>
                </table>

                <div>
                  <div id="criar" class="inserir_clas">
                    PROJETAR
                  </div>

                  <div id="inserir" class="inserir_clas" style="display: none;">
                    CRIAR
                  </div>
                  <div id="inserir_projeto" style="display: none;">
                    
                  </div>
                </div>
            </fieldset>
        </div>
    </div>
    <footer></footer>
 
    <script src="../static/script.js/db_buscaCep.js"></script>
    <script src="../static/script.js/db_map.js"></script>
    <script src="../static/script.js/barraSocial.js"></script>
    <script src="../static/script.js/projetaSocial.js"></script>
  
</body>
</html>
