<!DOCTYPE html>
<html>
<head>
  <title>EcoLocal - Seu Bairro</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <style>
    #map {
      height: 400px;
      width: 100%;
    }
  </style>
</head>
<body>
    <nav class="navegacao">
        <h1>EcoLocal</h1>
    </nav>
    <div id="main_map">
          <div id="map_esquerda">
            <fieldset>
                <legend>Identidade do Bairro</legend>
                <fieldset>
                    <legend>Informações do Bairro</legend>
                    <p id="bairro">Nome do Bairro: -</p>
                    <p id="cidade">Cidade: -</p>
                    <p id="estado">Estado: -</p>
                    <p id="descricaoBairro">Descrição: -</p>
                </fieldset>
            </fieldset>            
        </div>

        <div id="map_direita">
            <fieldset >
               <legend id="NomeBairro" style="font-weight: bold;">Bairro Não Encontrado</legend>
                    <div id="map"></div>
                </table>
            </fieldset>
        </div>
    </div>
    <footer></footer>
 
    <script src="../static/script.js/db_buscaCep.js"></script>
    <script src="../static/script.js/db_map.js"></script>
  
</body>
</html>
